<!-- About-->
<section class="page-section bg-primary" id="about">
    <!-- <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Ivens MedLab SPA</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and
                    running in no time! Choose one of our open source, free to download, and easy to use themes! No
                    strings attached!</p>
                   
                <a class="btn btn-light btn-xl" href="#products">Productos</a>
            </div>
        </div>
    </div> -->

    <h2 class="text-white mt-0 text-center">Ivens MedLab SPA</h2>
                <hr class="divider divider-light" />
    <div class="container">
        <div class="row align-items-start text-white">
            <div class="col">
                <h2>About Us</h2>

            </div>
            <div class="col">
                <h2>Our Mission</h2>
            </div>
            <div class="col">
                <h2>Our Clients</h2>
            </div>
        </div>
        <div class="row align-items-center text-white">
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
       
    </div>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
               
                <a class="btn btn-light btn-xl" href="#products">Productos</a>
            </div>
        </div>
    </div>
</section>