<!-- About-->
<section class="page-section bg-primary" id="about">
    <h2 class="text-white mt-0 text-center">{{_servicio.info.titulo}}</h2>
    <hr class="divider divider-light" />
    <div class="container my-4">
        <div class="row align-items-center text-white">
            <div *ngIf="_servicio.info.nosotros" class="col">
                <h2>{{_servicio.info.tituloNosotros}}</h2>
            </div>
            <div *ngIf="_servicio.info.mision" class="col">
                <h2>{{_servicio.info.tituloMision}}</h2>
            </div>
            <div *ngIf="_servicio.info.clientes" class="col">
                <h2>{{_servicio.info.tituloClientes}}</h2>
            </div>
        </div>
        <div class="row align-items-start text-white">
            <div *ngIf="_servicio.info.nosotros" class="col">
                <p>
                    {{_servicio.info.parrafoNosotros}}
                </p>
            </div>
            <div *ngIf="_servicio.info.mision" class="col">
                <p>
                    {{_servicio.info.parrafoMision}}
                </p>
            </div>
            <div *ngIf="_servicio.info.clientes" class="col">
                <p>
                    {{_servicio.info.parrafoClientes}}
                </p>
            </div>
        </div>

    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <a class="btn btn-light btn-xl" href="#ambu">Productos</a>
            </div>
        </div>
    </div>
</section>