<!-- Contact-->
<section class="page-section" id="contact">
    <div class="col-lg-12">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h2 class="mt-0">¡Mantengámonos en contacto!</h2>
                    <hr class="divider" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div *ngFor="let contacto of _servicio.contactos" class="col-lg-2">
                <div *ngIf="contacto.estado">
                    <div *ngFor="let det of contacto.contacto" class="team-member">
                        <img class="mx-auto rounded-circle text-center" [src]="det.img" alt="..." />
                        <h4>{{det.nombre}}</h4>
                        <p class="text-muted ">{{det.cargo}} </p>
                        <div class="icono">
                            <i class="bi-phone fs-3 mb-3 text-muted"></i> {{det.celular}}
                        </div>
                        <div class="icono">
                            <i class="bi bi-envelope fs-3 mb-3 text-muted"></i> {{det.correo}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="container ">
                    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                        <div class="col-lg-6">
                            <form id="contactForm" [formGroup]="form">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                                        data-sb-validations="required" formControlName="name" />
                                    <label for="name">Nombre completo</label>
                                    <div class="feedback" *ngIf="campoEsValido('name')">El nombre completo es
                                        requerido.</div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" placeholder="name@example.com"
                                        data-sb-validations="required,email" formControlName="email" />
                                    <label for="email">Dirección email</label>
                                    <div class="feedback" *ngIf="campoEsValido('email')">El email es
                                        requerido.</div>
                                    <div class="invalid-feedback" *ngIf="campoEsValido('email')">El email no es valido.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                                        data-sb-validations="required" formControlName="phone" />
                                    <label for="phone">Número de contacto</label>
                                    <div class="feedback" *ngIf="campoEsValido('phone')">El núnero de
                                        contacto es requerido.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="message" type="text"
                                        placeholder="Enter your message here..." style="height: 10rem"
                                        data-sb-validations="required" formControlName="message"></textarea>
                                    <label for="message">Mensaje</label>
                                    <div class="feedback" *ngIf="campoEsValido('message')">El mensaje es
                                        requerido.
                                    </div>
                                </div>
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton"
                                        type="submit" [disabled]="form.invalid" (click)="enviar()">Enviar</button></div>
                                <div class="feedback-ok" *ngIf="mensajeEnviado">Mesaje enviado correctamente
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>