img {
  width: 150px;
}
p {
  font-size: 15px;
  font-family: sans-serif;
}
.icono {
  font-size: 15px;
  font-family: sans-serif;
  --bs-text-opacity: 1;
  color: #6c757d !important;
}
.feedback {  
  width: 100%;  
  color: #dc3545;
}
.feedback-ok{
  width: 100%;  
  color: #0d9937;
}