<!-- Call to action-->
<section class="page-section bg-dark text-white" id="portfolio">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Marcas representadas</h2>
        
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 col-sm-6">
                <a class="portfolio-box" href="https://www.ambu.com/" target="_blank" title="Ambu" >
                    <img class="img-fluid" src="../../assets/img/marcas/marca-1.jpg" alt="Ambu" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Marca</div>
                        <div class="project-name">Ambu</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a class="portfolio-box" href="https://www.vyaire.com/" target="_blank" title="Vyaire">
                    <img class="img-fluid" src="../../assets/img/marcas/marca-2.jpg" alt="Vyaire" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Marca</div>
                        <div class="project-name">Vyaire</div>
                    </div>
                </a>
            </div>
            
           
        </div>
    </div>
</div>