<!-- Services-->
<div *ngFor="let marca of productoService.productos">
    <section class="page-section" id={{marca.url}}>
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">{{marca.name}}</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div *ngFor="let det of marca.productos" class="col-lg-3 col-md-6 text-center">
                    <div *ngIf="det.marca===marca.name ">
                        <a (click)="editProduct(contenido, det)">
                            <div class="mt-5">
                                <div class="mb-2"><img class="img-fluid" [src]="det.img" alt="..." /></div>
                                <h3 class="sku">SKU: {{det.sku}}</h3>
                                <h3 class="h4 mb-2">{{det.name}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #contenido let-modal>
            <div *ngFor="let detalle of productosFiltrado">
                <div class="modal-header text-center">
                    <h4 class="modal-title ">{{detalle.titulo}}</h4>
                    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sku"><strong>SKU: </strong>{{detalle.sku}}</div>
                            <div class="row">
                                <p><strong>Marca: </strong>{{detalle.marca}}</p>
                            </div>
                            <div class="row">
                                <p><strong>Descripcion: </strong>{{detalle.description}}</p>
                            </div>
                        </div>
                        <div class="col-md-6"><img class="img-fluid" [src]="detalle.img" alt="..."
                                style="width: 300px;" />
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </section>
</div>